aside.sidebar-container.flex.flex-col.print\:hidden.md\:top-16.md\:shrink-0.md\:w-64.md\:self-start.max-md\:\[transform\:translate3d\(0\,-100\%\,0\)\].md\:sticky {
  width: 25%;
}
.max-w-6xl {
  max-width: 120rem;
}
.code-block .filename {
  color: #ffff;
}
