aside.hextra-sidebar-container.hx\:flex.hx\:flex-col.hx\:print\:hidden.hx\:md\:top-16.hx\:md\:max-w-96.hx\:md\:self-start.hx\:max-md\:\[transform\:translate3d\(0\,-100\%\,0\)\].md\:sticky {
  width: 25%;
}
.max-w-6xl {
  max-width: 120rem;
}
.code-block .filename {
  color: #ffff;
}
